html {
    background-color: #c0c0c0;
}

.App {
    background-color: #c0c0c0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    min-height: 100px;
    align-content: center;
    text-align: center;
    img {
        vertical-align: center;
    }
}

.searchBar {
    text-align: center;
    align-items: center;
    justify-content: center;
    // input {

    // }
}

.image-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    .searchResult {
        position: relative;
        width: 100%;
        max-width: 250px;
        img {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: 0.5s ease;
            backface-visibility: hidden;
        }
        .button {
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    .searchResult:hover {
        img {
            opacity: 0.3;
        }
        .button {
            opacity: 1;
        }
    }
}

/* make the customizations */
$theme-colors: (
    'info': tomato,
    'danger': teal,
);
